@charset "utf-8";
body {
  margin: 0px;
  padding: 0px;
  background-color: #161616;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

#homescreen-bg {
  max-width: 50%;
  height: auto;
  max-height: 800px;
  width: auto\9; /* ie8 */
  bottom: 0%;
  right: 0%;
  position: absolute;
}

.main-picture {
  padding-bottom: 0% !important;
  margin-bottom: 0% !important;
}

#main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  background-color: #edf1fd;
  position: relative;
}

nav {
  z-index: 1;
  clear: both;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 2px;
  font-family: calibri;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  box-sizing: border-box;
  padding: 30px;
  background-color: #f4f7ff;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.05);
}

.menu {
  display: flex;
}

.menu li a {
  padding: 10px 15px;
  color: #6c707c;
  font-size: 15px;
}

.logo {
  height: 50px;
}

.menu li a:hover,
.active {
  background-color: #ff8ad8;
  color: #ffffff !important;
  font-weight: 700;
  transition: all ease 0.4s;
  margin: 3px;
}

.name {
  font-family: calibri;
  width: 500px;
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translate(-20%, -50%);
}

.name p:nth-child(1),
.name .details {
  color: #6c707c;
  font-size: 16px;
  font-family: calibri;
}

.name h1 {
  font-family: Poppins;
  font-size: 40px;
  margin: 0px;
  letter-spacing: 1px;
  color: #292929;
}

.social {
  position: absolute;
  left: 50px;
  bottom: 50px;
  display: flex;
}
.social a {
  margin: 6px 12px;
}

.social i {
  color: rgba(18, 17, 17, 0.4);
  font-size: 25px;
}

.social a:hover i {
  color: #ff8ad8;
  transition: all ease;
}

#about {
  margin-top: 20px;
  flex-wrap: wrap;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  padding-left: 5%;
  padding-right: 5%;
}

.about-text {
  text-align: center;
  margin: 5%;
  font-family: calibri;
  width: 50%;
}

.about-text h1 {
  font-size: 5rem;
  color: #ff8ad8;
}

.about-text h2 {
  font-size: 2.5rem;
  color: #ffffff;
  font-weight: 400;
}

.about-text h1,
h2 {
  margin: 0px;
  padding: 0px;
}

.about-text p {
  font-size: 1.1rem;
  color: rgba(251, 251, 251, 0.7);
}

.circular--square {
  border-radius: 50%;
}
