:root {
    --body-color: #ad85c9;
    --text-color: #695FAB;
    --hover-color: #ad85c9;
    --icon-color: rgba(18, 17, 17, 0.4);
    --text-black: black;
    --main-font: 'Playfair Display', serif;
    --background-color: #f1f1f1;
}

body {
    font-family: var(--main-font);
    font-size: 1rem;
    line-height: 1.25rem;
    background: var(--body-color);
}

h1 {
    font-size: 2rem;
    line-height: 1.75rem;
}

h2 {
    font-size: 1.5rem;
    font-family: var(--main-font);
    line-height: 1;
    /* color: var(--text-color); */
}

h3 {
    font-size: 1.25rem;
    font-family: var(--main-font);
    line-height: 1;
}

p {
    color: var(--text-color);
}

a, a:visited {
    text-decoration: none;
    color: var(--text-color);
}

a:hover {
    color: var(--hover-color);
}

.title-name{
    margin-bottom: 0em;
}


.main {
    max-width: 60%;
    margin-right: auto;
    margin-left: auto;
    background: var(--background-color);
    padding: 1.5rem 2.5rem 1.5rem 2.5rem;
    margin-top: 10px;
    margin-bottom: 1rem;
    min-width: 320px;
    box-shadow: 10px 20px var(--text-color);
}

.main-right {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-left {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.main-left-phone {
    display: hidden;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1rem;
    margin: 1em;
    max-width: 100%;
    align-content: center;
}

.center {
    text-align: center;
}

/* .nav {
    margin-top: 5rem;
} */

.nav-item {
    padding: 0.25em;
}


.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.active a {
    color: var(--hover-color);
}

.social a {
    margin: 6px 12px;
}

.social {
    padding: 0.25em;
}
  
.social i {
    color: var(--icon-color);
    font-size: 25px;

}

.social a:hover i {
    color: var(--hover-color);
    transition: all ease;
}

.black-text {
    color: var(--text-black);
    font-family: "Libre Franklin", "Helvetica Neue", helvetica, arial, sans-serif;
    margin-top: 0rem;
}

.purple-text {
    color: var(--text-color);
}

.circular--square {
    border-radius: 10%;
    max-width:152px;
    max-height:190px;
    width: auto;
    height: auto;
}

.nav-button {
    position: relative;
    margin: 0 1em 1em 1em;
    background-color: var(--background-color);
    padding: .25em 1em .25em 1em;
}

.nav-button:hover {
    box-shadow: 5px 10px var(--text-color);
    transition: all ease 0.4s;
}

.selected {
    box-shadow: 5px 10px var(--text-color);
}

@media (max-width:1281px ) {
    .main-left {
        display: none;
    }

    .main-left-phone {
        height: fit-content;
        width: auto;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 1rem;
        margin: 1rem; 
        max-width: 100%;
        align-items: center;
        align-content: center;
    }

    .nav-item {
        padding: 0em .5em 0em .5em;
    }

    h3 {
        font-size: 1em;
    }

    .main {
        max-width: 80%;
    }
}

@media (min-width:1282px) {
    .main-left {
        display: flex;
    }

    .main-left-phone {
        display: none;
    }
}